/* Player */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Nunito+Sans:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  width: 100%;
}
.invisible{
  display: none; 
}

#player {
  height: 100vh;
  width: 100vw;
  max-width: 75vh;
  position: absolute;
  overflow: hidden;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  /* padding-bottom: 45px; */
}
/* Page */
.slide-container {
  width: 100%;
  height: 98%;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
}

.slide-container--plan{
  background: #0A0A0A;
}

.image-section {
  width: 100%;
  min-height: 15%;
  flex-grow: 1;
  position: relative;
}
.image-frame {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-bottom: 1px solid black; 
  /* min-height: 50%;
  flex-grow: 1;  */
}


.gradient-overlay {
  position: absolute;
  height: 5rem;
  width: 100%;
  margin-top: -5rem;
  background: linear-gradient(0deg, #0a0a0a 0%, rgba(10, 10, 10, 0) 100%);
}

.gradient-overlay--plan{
  background: linear-gradient(0deg, #403E3A 28.44%, rgba(64, 62, 58, 0.00) 98%);
}
.description-cover{
  margin-bottom: .4rem;
}

.text-section {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 40%;
}

.text-section--plan{
  max-height: 25%;
  background: linear-gradient(180deg, #403E3A 0%, #121212 100%);
}

.scroll-up{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 40%, rgba(0, 0, 0, 0.00) 100%);
  display: flex; 
  width: 100%;
  position: absolute;
  bottom: 8px;
  justify-content: center;
}

.title {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  font-family: Nunito Sans;
  font-size: 1.8rem; 
  font-style: normal;
  font-weight: 700;
  padding: 0.2rem 1rem;
  z-index: 10;
  margin-top: -3rem;
  /* line-height: 40px; 125% */
}

.svg{
  position: absolute;  
  width: 100%; 
  top: 0; 
}

.description {
  color: var(--neutral-70, #d3d3d3);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Noto Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.2rem 1rem;
  overflow: scroll;
}
.cta {
  color: var(--neutral-70, #d3d3d3);
  /* Label L */
  font-family: Noto Sans; 
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  /* line-height: 20px; 125% */
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.ad-container{
  display: flex; 
  width: 100%; 
  justify-content: center;
  align-items: center;
}
.banner-ad{
  width: 360px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; 
  background-color: #e5fad9;

}

.display-ad{
  width: 360px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; 
  background-color: #e5fad9;

}